@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to Kate Hacker's photography site. Please visit <a href="http://katehacker.herokuapp.com" title="Kate Hacker">katehacker.herokuapp.com</a> for updated version.
</p>
<div id="box">
	
</div>
<a href="#">Click me!</a>

<br />


<p>Continuing from yesterday, <a href="#">hello</a> today we’ll take a look at the “fadeIn”, <a href="#">hello</a> “slideDown”, and “show” methods. We’ll also examine <a href="#">hello</a> jQuery’s “css” abilities.</p>
