@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    Welcome to Kate Hacker's photography site. Please visit <a href="http://www.katehacker.herokuapp.com" title="Kate Hacker">www.katehacker.herokuapp.com</a> for updated version.
</p>
